<div class="col-4">
    <div class="card p-3 mt-3">
        <img src="/img/image 1.png" class="card-img-center m-2" alt="..." />
        <div class="card-body">
            <h5 class="card-title">Nama/Tipe Mobil</h5>
            <h3 class="card-text">Rp 430.000 / hari</h3>
            <p>
                <img src="" alt="" />
                Start rent - Finish rent
            </p>
            <p>
                <img src="" alt="" />
                Updated at 4 Apr 2022, 09.00
            </p>

            <form action="post">
                <div class="row">
                    <button type="button" class="col btn btn-outline-danger mr-2" id="warning">Delete</button>
                    <button type="button" class="col btn btn-success mr-2" id="warning">Edit</button>
                </div>
            </form>
        </div>
    </div>
</div>
