<div class="contentTable">
    <div class="nameTable">
        <h5>List Order</h5>
    </div>
    <table class="table table-borderless">
        <thead style="background-color: #cfd4ed">
            <tr>
                <th scope="col">No</th>
                <th scope="col">User Email</th>
                <th scope="col">Car</th>
                <th scope="col">Start Rent</th>
                <th scope="col">Finish Rent</th>
                <th scope="col">Price</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody class="table-light">
            <tr>
                <td>1</td>
                <td>User Email</td>
                <td>Car</td>
                <td>Start Rent</td>
                <td>Finish Rent</td>
                <td>Price</td>
                <td>Status</td>
            </tr>
            <tr>
                <td>2</td>
                <td>User Email</td>
                <td>Car</td>
                <td>Start Rent</td>
                <td>Finish Rent</td>
                <td>Price</td>
                <td>Status</td>
            </tr>
            <tr>
                <td>3</td>
                <td>User Email</td>
                <td>Car</td>
                <td>Start Rent</td>
                <td>Finish Rent</td>
                <td>Price</td>
                <td>Status</td>
            </tr>
            <tr>
                <td>4</td>
                <td>User Email</td>
                <td>Car</td>
                <td>Start Rent</td>
                <td>Finish Rent</td>
                <td>Price</td>
                <td>Status</td>
            </tr>
            <tr>
                <td>5</td>
                <td>User Email</td>
                <td>Car</td>
                <td>Start Rent</td>
                <td>Finish Rent</td>
                <td>Price</td>
                <td>Status</td>
            </tr>
        </tbody>
    </table>
</div>
