<div class="contentTable">
    <div class="nameTable">
        <h5>List Order</h5>
    </div>
    <table class="table table-borderless">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <div class="dataTables_length" id="example_length">
                    <label
                        >Show
                        <select name="example_length" aria-controls="example" class="form-select form-select-sm">
                            <option value="10">10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select>
                        entries</label
                    >
                </div>
            </div>
            <div class="col-sm-12 col-md-6">
                <div id="example_filter" class="dataTables_filter">
                    <label>Search:<input type="search" class="form-control form-control-sm" placeholder="" aria-controls="example" /></label>
                </div>
            </div>
        </div>
        <thead style="background-color: #cfd4ed">
            <tr>
                <th scope="col">No</th>
                <th scope="col">User Email</th>
                <th scope="col">Car</th>
                <th scope="col">Start Rent</th>
                <th scope="col">Finish Rent</th>
                <th scope="col">Price</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody class="table-light">
            <tr>
                <td>1</td>
                <td>User Email</td>
                <td>Car</td>
                <td>Start Rent</td>
                <td>Finish Rent</td>
                <td>Price</td>
                <td>Status</td>
            </tr>
            <tr>
                <td>2</td>
                <td>User Email</td>
                <td>Car</td>
                <td>Start Rent</td>
                <td>Finish Rent</td>
                <td>Price</td>
                <td>Status</td>
            </tr>
            <tr>
                <td>3</td>
                <td>User Email</td>
                <td>Car</td>
                <td>Start Rent</td>
                <td>Finish Rent</td>
                <td>Price</td>
                <td>Status</td>
            </tr>
            <tr>
                <td>4</td>
                <td>User Email</td>
                <td>Car</td>
                <td>Start Rent</td>
                <td>Finish Rent</td>
                <td>Price</td>
                <td>Status</td>
            </tr>
            <tr>
                <td>5</td>
                <td>User Email</td>
                <td>Car</td>
                <td>Start Rent</td>
                <td>Finish Rent</td>
                <td>Price</td>
                <td>Status</td>
            </tr>
        </tbody>
    </table>
    <div class="row">
        <div class="col"><div class="dataTables_info" id="example_info" role="status" aria-live="polite">Showing 1 to 10 of 11 entries</div></div>
        <div class="col">
            <div class="dataTables_paginate paging_simple_numbers" id="example_paginate">
                <ul class="pagination">
                    <li class="paginate_button page-item previous disabled" id="example_previous"><a href="#" aria-controls="example" data-dt-idx="0" tabindex="0" class="page-link">Previous</a></li>
                    <li class="paginate_button page-item active"><a href="#" aria-controls="example" data-dt-idx="1" tabindex="0" class="page-link">1</a></li>
                    <li class="paginate_button page-item"><a href="#" aria-controls="example" data-dt-idx="2" tabindex="0" class="page-link">2</a></li>
                    <li class="paginate_button page-item next" id="example_next"><a href="#" aria-controls="example" data-dt-idx="3" tabindex="0" class="page-link">Next</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
