* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    font-size: 14pt;
}

body {
    min-height: 100vh;
    background-color: #e5e5e5;
}

#sideFix {
    width: 100px;
    height: 100vh;
    background-color: #0d28a6;
    .text-light {
        img {
            width: 30px;
            margin-right: auto !important;
            margin-left: auto !important;
        }
        a {
            text-decoration: none;
            color: #fff;
            font-size: 11pt;
            margin-bottom: 20px;
        }
    }
}

#sidebar {
    width: 100%;
    height: 100vh;
    background-color: #fff;
    padding: 8px 2px;
    h3 {
        margin-bottom: 20px;
    }
    h4 {
        color: #8a8a8a;
        font-size: 20px;
        font-weight: bold;
        margin-top: 30px;
    }
    a {
        color: black;
        font-size: 14px;
        font-weight: bold;
        text-decoration: none;
        padding: 8px 2px;
    }
}

.miniMap {
    padding-left: 0;
    li {
        display: inline;
    }
}

//cars
.contentCars {
    .bg-light {
        margin: 15px 1px;
        padding: 20px;
        .form-group {
            margin-bottom: 15px;
            label {
                width: 30%;
            }
        }
        small {
            margin-left: 23%;
        }
    }
    .button {
        position: fixed;
        bottom: 0;
        margin-left: 10px;
        margin-bottom: 15px;
    }
}

#message {
    position: absolute;
    margin-right: 100px;
    z-index: 99;
}

.alert {
    margin-top: 50px;
    margin-left: 250px;
    width: 500px;
}
