<section class="p-4 my-container">
    <ul class="miniMap">
        <li><b>Cars</b></li>
        <li><img src="/img/Vector.png" alt="" /></li>
        <li><b>List Car</b></li>
        <li><img src="/img/Vector.png" alt="" /></li>
        <li>Add New Car</li>
    </ul>
    <div class="d-flex justify-content-between">
        <h4><b>Add New Car</b></h4>
    </div>

    <div class="contentCars">
        <div class="row bg-light">
            <form>
                <div class="form-group d-flex">
                    <label for="nama" class="flex-fill">Nama</label>
                    <input type="text" class="form-control" id="nama" />
                </div>
                <div class="form-group d-flex">
                    <label for="harga" class="flex-fill">Harga</label>
                    <input type="text" class="form-control" id="harga" />
                </div>
                <div class="form-group d-flex">
                    <label for="foto" class="flex-fill">Foto</label>
                    <input type="text" class="form-control" id="foto" />
                </div>
                <small class="form-text text-muted">File size max. 2MB</small>
                <div class="form-group d-flex">
                    <label class="flex-fill">Start Rent</label>
                </div>
                <div class="form-group d-flex">
                    <label class="flex-fill">Finish Rent</label>
                </div>
                <div class="form-group d-flex">
                    <label class="flex-fill">Created at</label>
                </div>
                <div class="form-group d-flex">
                    <label class="flex-fill">Update at</label>
                </div>
            </form>
        </div>
        <div class="button">
            <button type="submit" class="btn btn-outline-primary">Cancel</button>
            <button type="submit" class="btn btn-primary ml-2" disabled>save</button>
        </div>
    </div>
</section>
