<section class="p-4 my-container">
    <ul class="miniMap">
        <li><b>Cars</b></li>
        <li><img src="/img/Vector.png" alt="" /></li>
        <li>List Car</li>
    </ul>
    <div class="d-flex justify-content-between">
        <h4><b>List Car</b></h4>
        <a class="btn btn-primary" style="background-color: #0d28a6">Add New Car</a>
    </div>

    <div class="contentCars">
        <div class="d-flex btnSize">
            <button type="button" class="btn btn-primary mr-2">All</button>
            <button type="button" class="btn btn-outline-primary mr-2">Small</button>
            <button type="button" class="btn btn-outline-primary mr-2">Medium</button>
            <button type="button" class="btn btn-outline-primary mr-2">Large</button>
        </div>
        <div class="row">
            <div class="col-4"><% for(let=i=0; i<=6; i++){ %> <%- include('../partials/carCard') %> <%} %></div>
        </div>
    </div>
</section>
