<section class="p-4 my-container">
    <ul class="miniMap">
        <li><b>Dashboard</b></li>
        <li><img src="/img/Vector.png" alt="" /></li>
        <li>Dashboard</li>
    </ul>
    <h4><b>Dashboard</b></h4>

    <%- include('../partials/table') %> <%- include('../partials/table') %>
</section>
